* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.container {
    width: 75%;
    margin: 0 auto;
}

header {
    background-color: #265fea;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}
.logo {
    width: 20%;
}
.menu {
    width: 60%;
    text-align: center;
}
.login {
    width: 20%;
}

.menu-list {
    display: flex;
    justify-content: center;
}
.menu-list li {
    padding: 0 15px;
}
.menu-list a {
    color: inherit;
    text-decoration: none;
}

main {
    margin-top: 90px;
}