* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
}

h1 {
    margin: 30px 0;
}

.green-box {
    background-color: lightgreen;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 50px;
    color: blue;
}

.green-box:hover h2 {
    color: red;
}