* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.live-1,
.live-2,
.live-3 {
  margin: 20px;
}

/* Live 1 */
.live-1 .red {
  width: 300px;
  height: 200px;
  background-color: red;
  position: relative;
}

.live-1 .square {
  width: 50px;
  height: 50px;
}

.live-1 .blue {
  background-color: blue;
}

.live-1 .green {
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 100%;
}

/* Live 2 */
.live-2 .red {
  background-color: red;
  width: 300px;
  height: 300px;
  position: relative;
}

.live-2 .square {
  width: 100px;
  height: 100px;
}

.live-2 .blue {
  background-color: blue;
}
.live-2 .green {
  background-color: green;
}

/* per vedere position */
.live-2 .pos-right {
  position: absolute;
  top: 0;
  right: 0;
}

.live-2 .pos-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.live-2 .pos-random {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* Live 3 */
.live-3 .green {
  width: 900px;
  height: 600px;
  background-color: green;
}

.live-3 .blue {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-color: blue; 
  position: relative;
}

.live-3 .red {
  width: 50px;
  height: 50px;
  background-color: red;
}

.live-3 .blue:first-child .red:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}
.live-3 .blue:last-child .red:last-child {
  position: relative;
  left: 25px;

}

.purple {
  width: 200px;
  height: 200px;
  background-color: purple;
  position: fixed;
  top: 0;
  right: 0;
}